@import "../../Style/Color.scss";

.header {
    display: flex;
    align-items: center;
    grid-area: h;
    @include shadowColor;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}


.header img {
    width: 59px;
}

.logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo h1 {
    padding-left: 20px;
}

.loginBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}

.loginBlock button {
    margin-left: 20px;
}