
.item {
    color: wheat;
    margin-top:10px;
    margin-bottom: 10px;
}

.item img{
    width: 60px;
    border-radius: 60px;
}

.like{
    text-align: end;
}
.content{
    display: flex;
    align-items: normal;
}
.message{
    padding-left: 20px;
}